.h2 {
  color: white;
}

/*Portada imagen*/
.cont {
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
}

.portadaH1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #12175f;
  text-align: center;
  margin-bottom: 20px;
}

.imagen {
  width: 100%;
}

/*Cards*/

#hero .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
#hero .img-col {
  justify-content: flex-end;
  margin-top: 100px;
}
#hero img {
  max-width: 130% !important;
  width: 130%;
}
#hero .card {
  box-shadow: 11px 7px 16px #f9f9f9;
  border: 0;
  text-align: center;
}
#hero .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

#projects .projects {
  margin-bottom: 50px;
}

.card-img-tamano {
  margin-top: 10px;
  margin-left: 40px;
  width: 450px;
  height: 280px;
}

.card-title1 {
  margin-left: 25px;
}

.card-text1 {
  margin-left: 25px;
}

#contact {
  text-align: center;
  background-color: #161616;
  color: white;
}
#contact h1 {
  text-align: center;
  color: white;
}

/*Ventajas*/
.ventajas {
  text-transform: uppercase;
  font-weight: 900;
  color: #12175f;
  text-align: center;
  margin-bottom: 20px;
}

#Ventajas p {
  text-align: center;
}

.map {
  width: 500px;
  height: 350px;
  border: 0;
  float: left;
  margin-left: 20px;
}
/* Footer */
